<%- include('../partials/html-head') %>

  <%- include('../partials/nav') %>
    <main>
      <table id="list">
        <thead>
          <tr>
            <th>Airline</th>
            <th>Airport</th>
            <th>Flight Number</th>
            <th>Departure Info</th>
            <th>delete flight</th>
          </tr>
        </thead>
        <tbody>
          <% flights.forEach(flight=> { %>
            <tr>
            <td>
              <%= flight.airline %>
            </td>
            <td>
              <%= flight.airport %>
            </td>
            <td>
              <%= flight.flightNum %>
            </td>
            <td>
              <%= flight.departs.toLocaleString() %>
            </td>
            <td>
              <form action="/flights/<%= flight._id %>?_method=DELETE" method="POST">
                <button>X</button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </main>

    <%- include('../partials/footer') %>