<%- include('../partials/html-head') %>

  <%- include('../partials/nav') %>
    <main>
      <table id="list">
        <thead>
          <tr>
            <th>Departure Date</th>
            <th>Airport</th>
            <th>delete</th>
          </tr>
        </thead>
        <tbody>
          <% flights.forEach(flight=> { %>
            <tr>
              <td>
                <%= flight.departs.toLocaleDateString() %>
              </td>
            <td>
              <%= flight.airport %>
            </td>
            <td>
              <form action="/flights/<%= flight._id %>?_method=DELETE" method="POST">
                <button>X</button>
              </form>
            </td>
            <td>
              <a href="/flights/<%=flight._id%>"> show flight details </a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </main>

    <%- include('../partials/footer') %>